## when using managed identity, the connection string is not needed and will be ignored if provided
USE_MANAGED_IDENTITY=true
BLOB_ACCOUNT_URL=https://<storage-account-name>.blob.core.windows.net

## when using connection string, set USE_MANAGED_IDENTITY to false and provide the connection string
#BLOB_CONNECTION_STRING=<your-connection-string>


BLOB_CONTAINER=appdata
BLOB_NAME=counter.json
